.body-container
  top: 50px
  border-left: white
  position: fixed
  +span-columns(9.8)
  +shift(2.2)
  background:
    color: $body-container-background
  height: 100%
  padding: 15px

.body-arrow
  font-size: 28px
  display: block
  &:hover
    font-weight: bold
    cursor: pointer

.arrow-back
  float: left
.arrow-forward
  float: right
.recent-widget-title
  margin-top: 50px
  text-align: center


.body-article
  clear: left
  padding-top: 20px
