.body-container
  top: 500px
  border-left: white
  background:
    color: $body-container-background
  height: 100%
  padding: 15px
  padding-top: 60px
  +span-columns(10.1)
  +shift(1.9)

.body-arrow
  font-size: 28px
  display: block
  &:hover
    font-weight: bold
    cursor: pointer

.arrow-back
  float: left
.arrow-forward
  float: right
.recent-widget-title
  margin-top: 50px
  text-align: center


.body-article
  clear: left
  padding: 20px
