.body-footer
  position: fixed
  bottom: 0
  +shift(2.2)
  width: 100%
  background:
    color: $body-footer-background
  height: 50px

  .body-footer-content
    +shift(3.5)
    color: white
    font-size: 16px
    margin-top: 15px
    color: $footer-text
