.sidebar-container
  position: absolute
  z-index: 0
  top: 50px
  height: 100%
  background:
    color: $sidebar-container-background
  +span-columns(2.25)

.sidebar-navigation
  margin-top: 100px
  .sidebar-item
    background:
      color: $sidebar-item-background
    height: 50px
    text-align: center
    font-size: 16px
    padding-top: 10px
    text-transform: uppercase

    &:hover
      background: $sidebar-item-background-focused
      cursor: pointer
    &:hover
      background: $sidebar-item-background-focused
      cursor: pointer

    a
      color: $sidebar-item-color

  .sidebar-item-focused
    background: $header-item-color-focused
