//Header
$header-background: #666666
$primaryNav-color: #e5e9ea
$primaryNav-color-focused: #993333
$header-logo-border: lighten($header-background, 10%)

//Sidebar
$sidebar-background: #999999
$sidebar-item-background: #333333
$sidebar-item-background-focused: $primaryNav-color-focused
$sidebar-item-color: $primaryNav-color


//Body
$body-background: #cccccc
$body-recent-arrow-border: $primaryNav-color
$body-footer-background: $header-background

//Article
$article-background: lighten($body-background, 3%)
$article-background-hover: darken($body-background, 5%)
$article-title-color: $sidebar-item-background

//Footer
$footer-background: $header-background
$footer-text: $primaryNav-color
