//Header
$header-container-background: #666666
$header-item-color: #e5e9ea
$header-item-color-focused: #993333

//Sidebar
$sidebar-container-background: #999999
$sidebar-item-background: #333333
$sidebar-item-background-focused: $header-item-color-focused
$sidebar-item-color: $header-item-color


//Body
$body-container-background: #cccccc
$body-footer-background: $header-container-background

//Footer
$footer-text: $header-item-color
